{{ $page := .page }}

<!-- Custom widget -->
<div class="row">
  <div class="col-xs-12 col-md-0 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-xs-12 col-md-12">
    {{ $page.Content }}
  </div>
</div>
